/* Basic styling for the body */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Styling for the header section */
header {
    background-color: #DC4405;
    color: white;
    padding: 20px;
    text-align: center;
    border-bottom: 4px solid #373737;
}

/* Styling for the navigation menu */
nav ul {
    list-style-type: none;
    padding: 0;
    background-color: #F3D08E;
    text-align: center;
    margin: 0;
}

nav ul li {
    display: inline;
    margin-right: 15px;
}

nav ul li a {
    color: #373737;
    text-decoration: none;
    font-weight: bold;
}

/* Styling for each section */
section {
    padding: 20px;
    margin: 20px;
    border-bottom: 1px solid #ddd;
}

.osu-section {
    padding: 30px;
    background-color: #fff8ee;
    border-top: 3px solid #D3832B;
}

h1, h2 {
    margin-top: 0;
}